
<ul id="slide-out" class="side-nav fixed red  " style="transform: translateX(0%);">
    <li>
        <div class="user-view logo-wrapp">
            <div class="background indigo"> </div>
            </div>
    </li>
    <li class="links"><a href="/Admin/DashBoard" class="waves-effect waves-light tooltipped dashboard" data-position="right" data-delay="50" data-tooltip="Dashboard" data-tooltip-id="910e1a6b-0982-4db1-5f53-4eb1740d54a9"><i class="material-icons"></i><span>Dashboard</span></a></li>
    <li class="links"><a href="/Admin/Audition" class="waves-effect waves-light tooltipped Page" data-position="right" data-delay="50" data-tooltip="Audition" data-tooltip-id="910e1a6b-0982-4db1-5f53-4eb1740d54a8"><i class="fa fa-file-text-o"></i><span>Audition</span></a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>